h1 {
    font-weight: 800;
    font-size: 50px;
}
.lsgna {
    background-color: #F5E40E;
    color: #FF5518;
}
.alfrd {
    background-color: #3CA30A;
    color: white;
}
.ccshrmp {
    background-color: #7E6459;
    color: salmon
}